@import '../../vendor/frontend/font-awesome/font-awesome';

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/hinted-Montserrat-Light.eot');
  src: local('Montserrat Light'), local('Montserrat-Light'),
  url('../../assets/fonts/hinted-Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/hinted-Montserrat-Light.woff2') format('woff2'),
  url('../../assets/fonts/hinted-Montserrat-Light.woff') format('woff'),
  url('../../assets/fonts/hinted-Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/hinted-Montserrat-Bold.eot');
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('../../assets/fonts/hinted-Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/hinted-Montserrat-Bold.woff2') format('woff2'),
  url('../../assets/fonts/hinted-Montserrat-Bold.woff') format('woff'),
  url('../../assets/fonts/hinted-Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/hinted-Montserrat-Regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../../assets/fonts/hinted-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/hinted-Montserrat-Regular.woff2') format('woff2'),
  url('../../assets/fonts/hinted-Montserrat-Regular.woff') format('woff'),
  url('../../assets/fonts/hinted-Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
