@mixin tooltips-down {
  .backfeed-tooltip-content {
    top: calc(100% + 20px);
    bottom: auto;

    &::before,
    &::after {
      border-width: 0 20px 20px;
    }

    &::before {
      top: -23px;
      bottom: auto;
    }

    &::after {
      top: -15px;
      bottom: auto;
    }
  }
}

.tooltips-inside-down {
  @include tooltips-down;
}

.backfeed-tooltip {
  cursor: help;
  position: relative;

  &:hover .backfeed-tooltip-content {
    opacity: 1;
  }
}

.backfeed-tooltip-content {
  position: absolute;
  bottom: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
  width: 310px;
  opacity: 0;
  transition: opacity .5s linear;
  padding: 15px;
  color: black;
  background: white;
  border: 5px solid #333436;
  pointer-events: none;
  font-size: 14px;
  text-align: left;
  z-index: 999;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: calc(50% - 20px);
    border-width: 20px 20px 0;
    border-style: solid;
    display: block;
    width: 0;
  }

  &::before {
    bottom: -23px;
    border-color: #333436 transparent;
  }

  &::after {
    bottom: -15px;
    border-color: white transparent;
  }

  & > p {
    color: black !important;

    &:not(:last-child) {
      margin-bottom: 10px !important;
    }
  }

  .backfeed-tooltip-title {
    color: #333436;
    font-size: 24px;
    font-weight: bold;
    margin: -1px 15px 0 0;
    padding-bottom: 10px;

    &:only-child {
      padding-bottom: 0;
    }
  }
}