@import 'variables';
@import '../../vendor/font-awesome/font-awesome';

#backfeed-collabar {
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: pink;
    width: 100%;
    text-align: center;
    min-height: 36px;
}

#resizer {
    width: 100%;
    height: 10px;
    background: grey;
    position: absolute;
    top: -10px;
    cursor: row-resize;
}