@import 'variables';
@import 'responsive-utilities';
@import '../../vendor/frontend/font-awesome/font-awesome';

#backfeed-collabar {
    position: fixed;
    bottom: 0;
    z-index: 999;
    color: white;
    background-color: #3e3e3e;
    width: 100%;

    @include media-breakpoint-up(sm) {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &>section {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include media-breakpoint-up(lg) {
            max-width: 1140px;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-between;
        }

        p {
            margin-bottom: 0;
        }

        a {
            color: white;
        }

        button {
            margin: 0;
            padding: 0;
            border: none;
            font: inherit;
            line-height: normal;
            background-color: initial;
        }
    }

    .backfeed-collabar-register {
        display: flex;
        align-items: center;
        background-color: #b80443;
        padding: 10px 20px;
    }

    .backfeed-collabar-learn {
        flex: 1;
        text-align: center;
        padding: 8px;
        font-size: 12px;

        @include media-breakpoint-up(sm) {
            padding: 0;
            flex: 0 1 230px;
        }

        @include media-breakpoint-up(lg) {
            flex: initial;
        }
    }

    .backfeed-collabar-learn-button {
        text-decoration: underline;
    }

    .backfeed-collabar-stats {
        display: flex;
    }

    .backfeed-collabar-stat {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    .backfeed-collabar-tagline {
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;

        span {
            font-size: 22px;
            text-transform: uppercase;
            line-height: 1;
        }
    }

    .button {
        &.button-primary {
            border: 1px solid white;
            padding: 3px;
        }
    }

    .flex-column {
        flex-direction: column;
    }
}
