@import 'variables';
@import '../../vendor/font-awesome/font-awesome';

#backfeed-collabar {
    position: fixed;
    bottom: 0;
    z-index: 999;
    color: white;
    background-color: #3e3e3e;
    width: 100%;
    max-height: 45px;
    transition: max-height 1.5s linear;

    &.expanded {
        max-height: 2000px;
    }

    &>section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px auto;
        max-width: 550px;
        padding-right: 10px;
        padding-left: 10px;
        
        &:nth-child(2) {
            background-color: #5f5e5e;
        }

        p {
            margin-bottom: 0;
        }

        a {
            color: white;
        }

        button {
            margin: 0;
            padding: 0;
            border: none;
            font: inherit;
            line-height: normal;
            background-color: initial;
        }
    }

    .backfeed-collabar-stats {
        display: flex;
    }

    .backfeed-collabar-stat {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    .button {
        text-transform: uppercase;

        &.button-primary {
            border: 1px solid white;
            padding: 3px;
        }
    }

    .flex-column {
        flex-direction: column;
    }
}
